.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 15px;
    color: white;
    background: linear-gradient(30deg, rgb(65, 136, 194), rgb(132, 190, 248));
    margin-left: 20px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}
.login:hover{
    background: linear-gradient(0deg, rgb(85, 165, 245),  rgb(85, 165, 245));
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 15px;
    color: white;
    background: linear-gradient(30deg, rgb(65, 136, 194), rgb(132, 190, 248));
    margin-left: 20px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}
.signup:hover{
    background: linear-gradient(0deg, rgb(85, 165, 245),  rgb(85, 165, 245));
}
.image{
    right: 10px;
    top: 10px;
    position: fixed;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 53px;
    top: 47px;
    height: 20px;
    font-size: 15px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(81, 151, 209);
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 0.7s;
}
.counterClicked {
    right: 5px;
    top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 20px;
    font-size: 15px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(81, 151, 209);
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 0.7s;
}
.cart{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 360px;
    background: linear-gradient(30deg, rgb(64, 144, 209), rgb(132, 190, 248));
    position: fixed;
    z-index: 1;
    top: 30px;
    right: 70px;
    border-radius: 10px;
    transition: 0.7s;
    overflow-y: auto;
    padding: 0px 0px 15px 0px;
    font-family: 'Open Sans', sans-serif;
}
.cartclose{
    height: 0px;
    width: 0px;
    background: linear-gradient(30deg, rgb(81, 151, 209), rgb(118, 186, 255));
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 70px;
    border-radius: 10px;
    transition: 0.7s;
}
.buy{
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.buy > span{
    display: flex;
    align-items: center;
    height: 35px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: white;
}
.buy > div{
    display: flex;
    align-items: center;
    position: absolute;
    height: 34px;
    width: 150px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    margin-top: 20px;
    right: 20px;
    cursor: pointer;
    background: linear-gradient(to right, white 50%, rgb(100, 168, 230) 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .8s ease-in-out;
}
.buy > div:hover{
    background-color: white;
    color: black;
    background-position: bottom left;
}
.arrow{
    margin-left: -20px;
    transition: 1s;
    height: 20px;
    width: 20px;
    opacity: 0;
}
.arrow2{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    opacity: 1;
    transition: 1s;
}
.buy > div:hover > .arrow{
    margin-left: -20px;
    transition: 1s;
    opacity: 1;
}
.buy > div:hover > .arrow2{
    margin-left: 55px;
    opacity: 0;
    transition: 1s;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0px 60px;
}
@media screen and (max-width: 920px){
    .login {
        height: 35px;
        width: 70px;
        font-size: 14px;
        border-radius: 6px;
    }
    .signup {
        height: 35px;
        width: 70px;
        font-size: 14px;
        border-radius: 6px;
    }
    .productsContainer {
        padding: 0 20px;
    }
    .image {
        height: 50px;
        width: 50px;
        right: 15px;
        top: 15px;
    }
    .counter {
        right: 47px;
        top: 44px;
        height: 18px;
        font-size: 12px;
        width: 18px;
    }
    .counterClicked {
        right: 8px;
        top: 17px;
        height: 18px;
        font-size: 12px;
        width: 18px;
    }
    .cart{
        height: 480px;
        width: 320px;
        top: 40px;
        right: 55px;
        padding-bottom: 15px;
    }
    .buy > div{
        width: 140px;
        right: 15px;
    }
    .buy > span{
        margin-left: 15px;
    }
    .buy > div:hover > .arrow{
        margin-left: -25px;
    }
    .buy > div:hover > .arrow2{
        margin-left: 50px;
    }
}